<app-header></app-header>


<!-- <div class="contact-container">
      <h2>Keep in the loop</h2>
      <p class="breadcrumb">Home > Contact</p>
    
      <div class="contact-content">
        <div class="contact-images">
          <img src="../../assets/image-removebg-preview.png" alt="Renault Car">
        </div>
        <div class="contact-details">
          <h3>Let's Connect Today!</h3>
          <p>We're Just a Message Away.</p>
    
          <div class="contact-item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Address</span>
            <p>XYZ</p>
          </div>
    
          <div class="contact-item">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Phone</span>
            <p><a [href]="'tel:' + phoneNumber">{{ phoneNumber }}</a></p>
          </div>
    
          <div class="contact-item">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>E-mail</span>
            <p><a [href]="'mailto:' + email">{{ email }}</a></p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="header">
        <h1>Keep in the Loop</h1>
        <p>Home&emsp;>&emsp;Contact Us</p>
      </div>
      <div class="content">
        <div class="left-section">
          <div class="top-image">
            <img src="../../assets/scooter.png" alt="Scooter">
          </div>
          <div class="bottom-image">
            <img src="../../assets/caryellow.png" alt="Car">
          </div>
        </div>
        <div class="right-section">
          <div class="text-content">
            <h1>Let’s Connect Today!</h1>
            <h1>We’re Just a Message Away.</h1>
          </div>
        </div>
      </div>
    </div>
    