<div class="main-container h-full  flex items-center justify-between">
    <div class="image">
        <img src="/assets/home.jpg" alt="EV Charging" />
    </div>
    <div class="flex justify-evenly  mr-20 h-full items-center flex-col">
        <h1 class="font-bold font-serif text-4xl">When Your EV Meets Its Power 🌿</h1>

        <div class="flex  flex-col  justify-between space-y-1 h-1/2">

            <div
                class="text-gray-500 font-serif flex flex-col space-y-10 text-justify text-3xl text-wrap max-w-[35ch] break-words leading-tight">
                <p>
                    Join India’s largest EV
                    charging network with fast,
                    reliable, and sustainable
                    power for your ride.
                </p>
                <div class="w-full flex justify-between items-center ">
                    <br>
                    <br>
                    <button routerLink="login" routerLinkActive="router-link-active"  class="px-24 rounded-xl py-3 text-lg bg-black text-white">Login</button>
                    <button routerLink="signup" class="px-24 rounded-xl py-3 border-2 border-black text-lg bg-white text-black">Get stated</button>
                </div>
            </div>
        </div>

    </div>

</div>