<app-header></app-header>

<div class="image-container">
    <h1>Blogs</h1>
   <p>Read Our News and Articles</p>
     
  </div>
  <section>
    <div class="imgtext1">
      <a href="image-details.html?image=ev-charging-1">
  <img src="../../assets/ev-charging-1.jpg"  alt="Charging Station 2" class="charging-image" />
  </a>
   <p class="image-description">How to Supercharge EV Charger Uptime:3 Pro-Level Stategies</p>
  </div>
 
  <div class="imgtext1">
    <a href="image-details.html?image=ev-charging-2">
  <img src="../../assets/ev-charging-2.jpg" class="charging-image"/>
    </a>
  <p class="image-description">Electrify Your EV Journey with the Ultimate Offer On the <br>ChargeMOD EV Chargers</p>
</div>

<div class="imgtext1">
  <a href="image-details.html?image=ev-charging-1">
  <img src="../../assets/ev-charging-3.png" class="charging-image"/>
  </a>
  <p class="image-description">How to Find the ways for the Nearest EV Charging Stations</p>
  </div>
   
  </section>
   