<app-header></app-header>

<section class="flex w-full h-[90vh] items-center justify-evenly">
    <img src="../../assets/home.jpg" alt="">
    <div class="login-container">
        <div class="login-box">
          <h2>SIGNUP</h2>
          <form method="post">
            <div class="input-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username">
              <label for="Mobile Number">Mobile Number</label>
              <input type="number" id="Mobilenumber" name="Mobilenumber">
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
              <label for="password">Confirm Password</label>
              <input type="password" id="confirmpassword" name="confirmpassword"/>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
  </section>